#topPoint{
    border: 1px solid red;
    padding: 10px;
}

#topPointChild {
    border: 1px solid blue;
    height: fit-content;
    display: flex;
    justify-content: end;
    margin-right: 60px;
    padding-right: 10px;
}

#topPointChild > div > p {
    font-size: 14px;
    border-left:1px solid gray ;
    padding: 0 10px;
}

#flag {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left:1px solid gray ;
}

#flag > img {
    height: 14px;
}