body {
    margin: 0;
    padding: 0;
}

#topPoint{
    width: 100%;
    margin: auto;
}

#topPointChild {
    width: 90%;
    margin: auto;
    height: fit-content;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

#topPointChild > div {
    border-left:1px solid #DDDDDD ;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topPointChild > div > p {
    font-size: 13.5px;
    padding: 0 15px;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #757575;
}

#topPointChild > div > p:hover {
    cursor: pointer;
    color:#0770Cf ;
}

#flag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29px;
    padding: 1px 15px;
    border-left:1px solid #DDDDDD ;
    border-right:1px solid #DDDDDD ;
}

#flag > img {
    height: 14px;
}