#topPoint{
    border: 1px solid red;
    padding: 10px;
}

#topPointChild {
    border: 1px solid blue;
    display: flex;
}

#topPointChild > div > p {
    font-size: 14px;
}

#flag 

#flag > img {
    height: 14px;
}